{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        {% comment %}
        To prevent hardcoding, better use: {% url %} template tag
        Use name argument specified in urls.py
        doc:
        https://docs.djangoproject.com/en/2.2/ref/templates/builtins/#url
        {% endcomment %}
        {% comment %}
        <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>
        {% endcomment %}
        <li><a href={% url 'polls:detail' question.id %}>{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
